
.heading {
    text-align: center;
    font-size: 30px;
}

.form-container {
    background-color: white;
    max-width: 600px;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.form-input {
    display: block;
    margin: auto;
    width: 400px;
    margin-top: 12px;
    border-radius: 5px;
    border: none;
    border-bottom: 0.5px solid grey;
}

.form-input:focus {
    outline: none;
    border-bottom: 1px solid #002970;
}

.btn-add-transaction {
    display: block;
    margin: auto;
    background-color: #00baf2;
    color: white;
    padding: 10px;
    width: 200px;
    border-radius: 25px;
    border: 2px solid white;
    box-shadow: 0 2px 5px 0 #999999;
}

.btn-add-transaction-container {
    margin-top: 20px;
    margin-bottom: 10px;
}

.rp-radio{
    margin: 5px;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    font-size: 20px;
}

.rp-radio-container{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    
    
}

